body {
    font-family: 'Open Sans Condensed', sans-serif;
}




.callout-container {

    height: 100vh;

    background: url('../images/guy-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
