body {
    font-family: 'Roboto', sans-serif;
}




.callout-container {
    height: 100vh;

    background: url('../images/whiskey-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}



.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #d2a655;
}

.block-divider--gold {

    background-color: #d2a655;
}

.block-divider--short {
    width: 35px;
}

/*navbar-styling*/

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar-brand {
    font-weight: bold;

}
.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/*jumbotron-styling*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}


.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/*Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--gold {
    color: white;
    background-color: #d2a655;
    border-color: #d2a655;
    
}

.btn--gold:hover,
.btn--gold:active,
.btn--gold:focus,
.btn--gold:active:focus {
    background-color: #9c6f1c;
    border-color: #d2a655;
}

